.grid-containerinformacion {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
}
.grid-itemestructura {
    border: 4px solid #1900ff;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}